@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold text-gray-800;
    }
    p, ul {
        @apply text-gray-700;
    }

    .responsive-width {
        @apply w-full max-w-full px-4 mx-auto sm:px-12 sm:max-w-screen-md md:max-w-screen-lg;
    }
    .bg-primary {
        @apply bg-blue-900 bg-opacity-90;
    }
    .meta-info {
        @apply text-gray-500 font-medium text-sm uppercase;
    }
    .form-label {
        @apply mb-2 font-semibold uppercase text-sm;
    }
    .button-label {
        @apply block py-2 px-3 border bg-gray-100 font-semibold uppercase hover:bg-blue-100 disabled:bg-gray-100 disabled:opacity-25;
    }
    .timeline-item::after {
        content: '';
        left: -7px;
        @apply absolute block top-0 w-3 h-3 border-2 rounded-full bg-white border-blue-400;
    }
    .table-wrapper {
        @apply overflow-x-auto;
    }    
}

/*! purgecss start ignore */
/* KaTeX fraction fix */
.frac-line {
    border-color: black;
}

/* LaTeX logo */
.latex {
    font-size: 1rem;
    text-transform: uppercase;
}
.latex span {
    position: relative;
    top: 0.2rem;
    font-size: 1rem;
}
#latex-a {
    margin-left: -0.05rem;
    margin-right: -0.15rem;
}
#latex-e {
    margin-left: -0.1rem;
    margin-right: -0.05rem;
}
/*! purgecss end ignore */
